<head>
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link crossorigin rel="preconnect" href="https://www.google-analytics.com">

  <link rel="shortcut icon" type="image/png" href="https://cdn.discordapp.com/attachments/955007593850470400/966569957867536464/logo.png">
  <link rel="shortcut icon" sizes="192x192" href="https://cdn.discordapp.com/attachments/955007593850470400/966569957867536464/logo.png">
  <link rel="apple-touch-icon" href="https://cdn.discordapp.com/attachments/955007593850470400/966569957867536464/logo.png">

  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="description" content="{{$.Site.Data.me.description}}">
  <title>{{$.Site.Data.me.page_title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/res/logo.png" />

  <!-- CSS Stylesheets and Fonts -->
  {{if $.Site.Data.aos.enabled -}}
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  {{- end}}

  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  {{ $css := slice "style.scss" "sidebar.scss" "lite.scss" "smaller-screens.scss" "langbars.scss" "proj.scss" "mobile.scss" "darkmode.scss"}}
  {{range $css}}
    {{$sass := resources.Get . | resources.ToCSS }}
    {{with $sass | minify}}
    <style>
      {{.Content | safeCSS}}
    </style>
    {{end}}
  {{end}}
</head>