<div class="lt-flex-50" {{range $.Site.Data.aos.settings}}{{. | safeHTMLAttr}}{{end}}>
  {{ $gh := getJSON $.Site.Data.me.api_url }}
  <p>
    {{$.Site.Data.me.description}} Currently, I'm based in {{$gh.location}} and studying Computer Science @ SFU. I'm a LightHouseLabs Data 
    Science Alumni 🔥 and previously, a full stack developer at BC Children's Digital Lab 😎 and St Paul's Hospital. 
  </p>
  <p>
    In my spare time, you can find me playing video games, trying out new local hot spots, or participating in a hackathon!
  <p>
    Feel free to download my <a target="_blank" rel="noreferrer" href="{{$.Site.Data.me.resume}}">resume</a>, 
    poke around <a target="_blank" rel="noreferrer" href="https://github.com/{{$.Site.Data.me.github}}">my GitHub</a>, check out my 
    <a target="_blank" rel="noreferrer" href="https://top.mlh.io/2022/profiles/matthew-wong">MLH Top 50 profile</a>, or
    contact me for a chat at <a target="_blank" rel="noreferrer"
      href="mailto:{{$.Site.Data.me.email}}">{{$.Site.Data.me.email}}</a>. I'm always happy to meet new people!
  </p>
  <img class="gh-chart" src="https://ghchart.rshah.org/{{$.Site.Data.me.github}}" alt="{{$.Site.Data.me.github}}'s Github chart" />
</div>
<div class="lt-flex-50 img-container">
  <div class="deco" loading=lazy></div>
  <img class="lt-shadow me" src="https://firebasestorage.googleapis.com/v0/b/group11-spot-me.appspot.com/o/Images%2Fmatthew.png?alt=media&token=7c33c895-1302-4e9c-a1cd-c90cdfed7297" alt="{{$.Site.Data.me.name}}" loading=lazy />
  {{$jsonContent := (dict "name" $gh.name "location" $gh.location "bio" $gh.bio) | jsonify (dict "prefix" " " "indent" " ") }}
  <div class="lt-shadow highlight-container">
    {{highlight $jsonContent "json" ""}}
  </div>
</div>